In [28]:
# basic setting
import pandas as pd
table = pd.read_csv('./cleaned_data_by_team.csv')

In [29]:
table.head()

,date,time,line,start,stop,count_station,time.1,crowdedness,E,N,...,cellphone,thinking,sleep,earphone,talking,calling,reading,makeup,eating,writing
0,2019. 7. 31.,19:10:00,5,공덕,여의도,3,6,N,0,1,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2019. 7. 31.,19:21:00,9,여의도,신논현,10,20,F,0,0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2019. 7. 31.,19:28:00,9,여의도,신논현,10,20,F,0,0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2019. 7. 31.,19:32:00,9,여의도,신논현,10,20,F,0,0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2019. 7. 31.,22:38:00,10,선정릉,야탑,12,24,F,0,0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [56]:
len(table)

833

In [30]:
table.columns

Index(['date', 'time', 'line', 'start', 'stop', 'count_station', 'time.1',
       'crowdedness', 'E', 'N', 'F', 'old_age_seat', 'is_empty', 'empty_count',
       'female', 'male', 'age', 'child', 'teenage', 'youth', 'middle_age',
       'old_age', 'badge', 'pregnant', 'heavy', 'behavior1', 'behavior2',
       'behavior3', 'cellphone', 'thinking', 'sleep', 'earphone', 'talking',
       'calling', 'reading', 'makeup', 'eating', 'writing'],
      dtype='object')

In [33]:
table.dtypes

date              object
time              object
line               int64
start             object
stop              object
count_station      int64
time.1             int64
crowdedness       object
E                  int64
N                  int64
F                  int64
old_age_seat       int64
is_empty           int64
empty_count      float64
female           float64
male             float64
age               object
child            float64
teenage          float64
youth            float64
middle_age       float64
old_age          float64
badge            float64
pregnant         float64
heavy            float64
behavior1         object
behavior2         object
behavior3         object
cellphone        float64
thinking         float64
sleep            float64
earphone         float64
talking          float64
calling          float64
reading          float64
makeup           float64
eating           float64
writing          float64
dtype: object

---
# 데이터 분석 목표

## 기본 데이터 확인
1. 전체 데이터 중 착석자가 관찰된 데이터의 비율은 어떻게 되는가?
2. 전체 착석자 중 임산부의 비율은 어떻게 되는가?
3. 전체 임산부 중 임산부 엠블럼이 있는 경우의 비율은 어떻게 되는가?

4. 전체 착석자의 성별 비율은 어떻게 분포하는가?
5. 비임산부 착석자의 연령대 분포는 어떻게 되는가?
6. 비임산부 착석자의 연령대별 행동 분포는 어떻게 되는가?

## 심화 데이터 확인
7. 노약자석 빈자리 여부가 노년인구의 착석 비율에 영향을 미치는가?
8. 무거운 짐을 가지고 있는 사람이 임산부석에 많이 앉는가?
9. 붐빔정도에 따라 임산부석에 사람이 앉을 비율은 얼마나 되는가?

## 호선별 데이터 확인
10. 호선별 붐빔 정도에 따른 착석률

---
### 1. 전체 데이터 중 착석자가 관찰된 데이터의 비율은 어떻게 되는가?

In [58]:
table['is_empty'].unique()

array([0, 1])

In [86]:
not_empty = table[table['is_empty']==0]

In [88]:
round(not_empty['date'].count()/len(table['is_empty'])*100, 2)

69.15

In [89]:
('전체 데이터 중 착석자 수는 {} 이며, 착석자 비율은 {} 입니다.').format(
                                                            not_empty['date'].count(),
                                                            round(not_empty['date'].count()/len(table['is_empty'])*100, 2)
                                                            )

'전체 데이터 중 착석자 수는 576 이며, 착석자 비율은 69.15 입니다.'

---
### 2. 전체 착석자 중 임산부의 비율은 어떻게 되는가?

In [95]:
pregnant = not_empty[not_empty['pregnant'] == 1]

In [104]:
('전체 착석자 중 임산부의 수는 {}명 이고,').format(pregnant['date'].count())
('전체 착석자 중 임산부의 비율은 {}% 입니다.').format(round(pregnant['date'].count()/not_empty['date'].count()*100, 2))

'전체 착석자 중 임산부의 비율은 4.51% 입니다.'

---
### 3. 전체 임산부 중 임산부 엠블럼이 있는 경우의 비율은 어떻게 되는가?

---
### 4. 전체 착석자의 성별 비율은 어떻게 분포하는가?

In [74]:
female_num = table['female'].sum()
male_num = table['male'].sum()

In [78]:
('전체 착석자 중 여성의 수는 {}이며, 비율은 {} 퍼센트 입니다.').format(
                                                                female_num, 
                                                                 round(female_num/(female_num+male_num)*100, 2)
                                                            )

'전체 착석자 중 여성의 수는 448.0이며, 비율은 77.78 퍼센트 입니다.'

In [79]:
('전체 착석자 중 남성의 수는 {}이며, 비율은 {} 퍼센트 입니다.').format(
                                                                male_num, 
                                                                 round(male_num/(female_num+male_num)*100, 2)
)

'전체 착석자 중 남성의 수는 128.0이며, 비율은 22.22 퍼센트 입니다.'

---
### 5. 비임산부 착석자의 연령대 분포는 어떻게 되는가?

---
### 6. 비임산부 착석자의 연령대별 행동 분포는 어떻게 되는가?

---
### 7. 노약자석 빈자리 여부가 노년인구의 착석 비율에 영향을 미치는가?

---
### 8. 무거운 짐을 가지고 있는 사람이 임산부석에 많이 앉는가?

---
### 9. 붐빔정도에 따라 임산부석에 사람이 앉을 비율은 얼마나 되는가?

---
### 10. 호선별 붐빔 정도에 따른 착석률