In [87]:
import pandas as pd
import seaborn as sns

In [88]:
data = pd.read_csv('../practice_data/team6_v2.csv')

In [89]:
data.head()

,Unnamed: 0,date,time,name,line,start,stop,crowded,old_age_seat,sex,...,characteristic,bag,empty,sex2,노년,중년,청년,어린이,청소년,crowded2
0,0,07월 31일,19:10:00,재민,5호선,공덕,여의도,N,NaN,여,...,NaN,"쇼핑백, 장우산",1,1.0,0,1,0,0,0,1
1,1,07월 31일,19:21:00,재민,9호선,여의도,신논현,F,NaN,여,...,임산부석 비워달라는 방송이 나왔으나 아랑곳하지 않음,NaN,1,1.0,0,1,0,0,0,2
2,2,07월 31일,19:28:00,재민,9호선,여의도,신논현,F,NaN,여,...,NaN,NaN,1,1.0,0,0,1,0,0,2
3,3,07월 31일,19:32:00,재민,9호선,여의도,신논현,F,NaN,여,...,NaN,NaN,1,1.0,0,0,1,0,0,2
4,4,07월 31일,22:38:00,재민,분당선,선정릉,야탑,F,NaN,여,...,NaN,NaN,1,1.0,0,0,1,0,0,2

In [90]:
data.tail()

,Unnamed: 0,date,time,name,line,start,stop,crowded,old_age_seat,sex,...,characteristic,bag,empty,sex2,노년,중년,청년,어린이,청소년,crowded2
828,828,08월 16일,18:16:00,단비,1호선,신길,온수,F,X,여,...,NaN,백팩,1,1.0,1,0,0,0,0,2
829,829,08월 16일,18:16:00,단비,1호선,신길,온수,F,X,여,...,에코백 크기의 가죽가방,에코백,1,1.0,0,0,1,0,0,2
830,830,08월 16일,18:29:00,단비,1호선,신길,온수,F,X,여,...,에코백 크기의 가죽가방,에코백,1,1.0,0,0,1,0,0,2
831,831,08월 16일,18:40:00,단비,7호선,온수,신중동,F,X,여,...,NaN,크로스백,1,1.0,0,0,1,0,0,2
832,832,08월 16일,18:40:00,단비,7호선,온수,신중동,F,X,남,...,NaN,백팩,1,0.0,0,1,0,0,0,2

In [91]:
data.dtypes

Unnamed: 0          int64
date               object
time               object
name               object
line               object
start              object
stop               object
crowded            object
old_age_seat       object
sex                object
empty_station     float64
age                object
badge              object
pregnant           object
heavy              object
behavior           object
characteristic     object
bag                object
empty               int64
sex2              float64
노년                  int64
중년                  int64
청년                  int64
어린이                 int64
청소년                 int64
crowded2            int64
dtype: object

In [92]:
data['sex2']

0      1.0
1      1.0
2      1.0
3      1.0
4      1.0
      ...
828    1.0
829    1.0
830    1.0
831    1.0
832    0.0
Name: sex2, Length: 833, dtype: float64

In [93]:
data.dtypes

Unnamed: 0          int64
date               object
time               object
name               object
line               object
start              object
stop               object
crowded            object
old_age_seat       object
sex                object
empty_station     float64
age                object
badge              object
pregnant           object
heavy              object
behavior           object
characteristic     object
bag                object
empty               int64
sex2              float64
노년                  int64
중년                  int64
청년                  int64
어린이                 int64
청소년                 int64
crowded2            int64
dtype: object

In [94]:
data.columns

Index(['Unnamed: 0', 'date', 'time', 'name', 'line', 'start', 'stop',
       'crowded', 'old_age_seat', 'sex', 'empty_station', 'age', 'badge',
       'pregnant', 'heavy', 'behavior', 'characteristic', 'bag', 'empty',
       'sex2', '노년', '중년', '청년', '어린이', '청소년', 'crowded2'],
      dtype='object')

## 노약자석 데이터 정제

In [95]:
data["old_age_seat"] = data["old_age_seat"].apply(lambda x: 1 if x == "X" else 0)

In [96]:
data["old_age_seat"].tail(30)

803    0
804    1
805    1
806    0
807    0
808    0
809    0
810    0
811    0
812    0
813    0
814    0
815    0
816    0
817    0
818    0
819    0
820    0
821    1
822    1
823    1
824    0
825    0
826    0
827    0
828    1
829    1
830    1
831    1
832    1
Name: old_age_seat, dtype: int64

## 뱃지여부

In [97]:
def case_return(x):
    if x == "X":
        return 0
    elif x == "O":
        return 1
    else :
        return x

In [98]:
data["badge"] = data["badge"].apply(lambda x: case_return(x))

In [99]:
data["badge"].tail(30)

803    NaN
804    0.0
805    NaN
806    0.0
807    0.0
808    NaN
809    NaN
810    0.0
811    0.0
812    0.0
813    NaN
814    NaN
815    0.0
816    0.0
817    NaN
818    0.0
819    0.0
820    0.0
821    0.0
822    0.0
823    NaN
824    0.0
825    0.0
826    0.0
827    NaN
828    0.0
829    0.0
830    0.0
831    0.0
832    0.0
Name: badge, dtype: float64

In [100]:
data["badge"]

0      0.0
1      0.0
2      0.0
3      0.0
4      1.0
      ...
828    0.0
829    0.0
830    0.0
831    0.0
832    0.0
Name: badge, Length: 833, dtype: float64

## 임산부여부

In [ ]:
import math
def pragnant_case_return(x):
    if x == "X":
        return 0
    elif x == "O" or x == "?":
        return 1
    elif math.isnan(x) :
        return x

In [101]:
data["pregnant"] = data["pregnant"].apply(lambda x: case_return(x))

In [102]:
data["pregnant"].tail(30)

803    NaN
804      0
805    NaN
806      0
807      0
808    NaN
809    NaN
810      0
811      ?
812      0
813    NaN
814    NaN
815      0
816      0
817    NaN
818      0
819      0
820      0
821      0
822      0
823    NaN
824      0
825      0
826      ?
827    NaN
828      0
829      0
830      0
831      0
832      0
Name: pregnant, dtype: object

## 임산부 여부에 ?일 때 잘 0으로 표시 잘 되었는지 확인

In [103]:
data.iloc[775]

Unnamed: 0             775
date               08월 16일
time              09:18:00
name                    미현
line                   5호선
start                   신길
stop                    공덕
crowded                  F
old_age_seat             1
sex                      여
empty_station          NaN
age                     청년
badge                    0
pregnant                 ?
heavy                    X
behavior                 잠
characteristic         NaN
bag                    핸드백
empty                    1
sex2                     1
노년                       0
중년                       0
청년                       1
어린이                      0
청소년                      0
crowded2                 2
Name: 775, dtype: object

In [105]:
data.to_csv('../practice_data/team6_updated_bomin.csv')

In [106]:
data.columns

Index(['Unnamed: 0', 'date', 'time', 'name', 'line', 'start', 'stop',
       'crowded', 'old_age_seat', 'sex', 'empty_station', 'age', 'badge',
       'pregnant', 'heavy', 'behavior', 'characteristic', 'bag', 'empty',
       'sex2', '노년', '중년', '청년', '어린이', '청소년', 'crowded2'],
      dtype='object')

In [107]:
data['heavy'].unique()

array(['X', nan, 'O'], dtype=object)