In [2]:
import pandas as pd

In [3]:
original = pd.read_csv('./practice_data/0813-bomin.csv')

In [4]:
original.head(5)

,날짜,기록 시간,기록자,호선,탑승역,하차역,붐빔 정도,노약자석 빈자리 여부,성별,비어있었던 역 수,연령대,뱃지 여부,임산부 여부,무거운 짐 여부,행동,기타 특이사항,짐 종류
0,2019. 7. 31,19:10,재민,5호선,공덕,여의도,N,NaN,여,NaN,중년,X,X,X,"이어폰, 핸드폰",NaN,"쇼핑백, 장우산"
1,2019. 7. 31,19:21,재민,9호선,여의도,신논현,F,NaN,여,NaN,중년,X,X,X,핸드폰,임산부석 비워달라는 방송이 나왔으나 아랑곳하지 않음,NaN
2,2019. 7. 31,19:28,재민,9호선,여의도,신논현,F,NaN,여,NaN,청년,X,X,X,핸드폰,NaN,NaN
3,2019. 7. 31,19:32,재민,9호선,여의도,신논현,F,NaN,여,NaN,청년,X,O,X,핸드폰,NaN,NaN
4,2019. 7. 31,22:38,재민,분당선,선정릉,야탑,F,NaN,여,NaN,청년,O,O,X,"핸드폰, 대화",NaN,NaN

In [26]:
pd.DataFrame(original.groupby(['연령대','성별'])['성별']).count()

0    10
1    10
dtype: int64